body{background-color: rgb(247, 242, 237)}
.kuang{background-color: rgb(199, 241, 241);}
.biao{background-position: 25%;background-color: rgba(223, 236, 199, 0.637);}
.yanse{background-color: rgb(221, 236, 166);}
